body {
	font-family: "IBM Plex Sans", sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.5em;
	background-color: white;
}

p {
	font-size: 16px;
	line-height: 22px;
	color: #262626;
	font-weight: 400;
	margin-bottom: 20px;
}

h1 {
	color: #440063;
	font-size: 40px;
	font-weight: 700;
	line-height: 48px;
}

h2 {
	color: #262626;
	font-size: 40px;
	font-weight: 800;
	line-height: 68px;
}

h3 {
	font-size: 23px;
	font-weight: 700;
	line-height: 38px;
}

h5 {
	font-size: 12px;
	padding: 0px;
	margin: 0px;
}

.mediumStory {
	flex: 1;
	flex-direction: row;
}

.mediumStory img {
	/* margin-bottom: 40px; */
	max-height: 133px;
	width: -webkit-fill-available;
	object-fit: cover;
}

.mediumStory h1 {
	font-size: 21px;
	color: #2d2d2d;
	line-height: 1.2em;
	margin-bottom: 14px;
}

.mediumStory h3 {
	font-size: 14px;
	color: #8a8a8a;
	line-height: 1.2em;
	margin-top: 14px;
	margin-bottom: 2px;
}

.mediumStory h4 {
	font-size: 10px;
	font-weight: 400;
	color: #e864db;
	line-height: 1.2em;
	/* margin-top: 14px; */
	margin-bottom: 8px;
	text-transform: uppercase;
}

.mediumStory .article p {
	font-size: 13px;
	line-height: 1.5em;
	margin-bottom: 12px;
}

.topSection {
	display: flex;
	gap: 20px;
}
