body {
font-family: "PLayfair Display", "Roboto";
transition: background-color .5s;
color: #000000;
font-style: normal;
font-weight: 400;
line-height: 16px;
  }
  h1 ,h2 , h4 ,h5 ,h6{
color:#000000;
}
h1{

font-size: 36px;
font-style: normal;
font-weight: 600;
line-height: 43px; 
}

h2{
  color: #000;

  font-family: "Playfair Display";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;

}

h3{
  color: #C70000;
  font-size: 17px;
  font-style: italic;
  font-weight: 700;
  line-height: 20px;
}

h4{
  color: #C70000;
  font-size: 21px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

h5{
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
}


p{
  color: #010101;
  font-family: "Playfair Display";
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
}

/* test section europe */
.europe{
  background-color: #F5F5F5;
}
.europe .header_txt{
  
  font-family: "Playfair Display";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
}

.europe .byline{
  color: #C70000;
  font-size: 17px;
  font-style: italic;
  font-weight: 700;
  line-height: 20px;
}

.europe .editor_tag{
  color: #A9A9A9;
  font-family: Roboto;
  font-size: 9px;
  line-height: 16px;
  font-weight: 400;
padding: 5px; 
}

.europe .header_txtred{
  color: #C70000;
  font-size: 21px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.story_bg{
  background: #dee0e0;
  width: auto;
  height: auto;
}
/* vertical story style */
.txt_box{
display: flex;
flex-direction: column;
align-items: flex-start;
}


.vs_headers{
gap: 7px;
padding: 3px 5px;
}

.author_timestamp{
display: flex;
width: 105px;
padding: 0px 5px;
justify-content: space-between;
align-items: center;
}

.img_vs{
    width: 100%;  
  object-fit: contain;
    border-bottom: 5px solid red;
}

/* wide story */
.wide_story{
display: flex;
width: 379px;
flex-direction: column;
align-items: flex-start;
}

.txt_box_ws{
display: flex;
padding: 0px 4px;
flex-direction: column;
align-items: flex-start;
align-self: stretch;
background: #dee0e0;
}

.img_ws{
height: 238px;
align-self: stretch;;
}

/* mini story */
.mini_txt_box{
  display: inline-flex;
flex-direction: column;
justify-content: center;
align-items: center;
background: #F2F2F2;
}

.mini_txt{
display: flex;
width: auto;
height: auto;
flex-direction: column;
align-items: flex-start;

}

.mini_headers{
  padding: 14px;
  gap: 10px;
  }

.byline_divider{
  border-bottom: 2px solid #000000;
}

.card{
  display:flex;

}

.leftSection{
  width: 50%;
    background-color: #818181;
   
  }
  

.rightSection{
width: 50%;
  background-color: #818181;
 
}


/* long story */
.long_story{
  display: flex;

  /* justify-content: space-between; */
  block-size: fit-content;
}

.ls_txt{
  display: flex;
width: 322px;
padding: 0px 4px;
flex-direction: column;
align-items: flex-start;
gap: 3px;
flex-shrink: 0;  

}

.ls_txt .header{
color: #866D50;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 18px;
}

.ls_txt .ls_byline{
  font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 18px;
}

.ls_txt .timestamp{
  color: #A9A9A9;
font-family: 'Roboto';
font-size: 13px;
font-style: normal;
font-weight: 400;
line-height: 23px;
}

.ls_img{
  width: 100%;  
  object-fit: contain;
}

.ls_bg{
border-top: 2px solid #866D50;
background: #dee0e0;
}


/* side nav */
.sidenav {
height: 100%;
width: 0;
position: fixed;
z-index: 1;
top: 0;
left: 0;
background-color: #111;
overflow-x: hidden;
transition: 0.5s;
padding-top: 60px;
}
  
.sidenav a {
padding: 8px 8px 8px 32px;
text-decoration: none;
font-size: 25px;
color: #818181;
display: block;
transition: 0.3s;
}
  
.sidenav a:hover {
color: #f1f1f1;
}
  
.sidenav .closebtn {
position: absolute;
top: 0;
right: 25px;
font-size: 36px;
margin-left: 50px;
}
  
#main {
transition: margin-left .5s;
padding: 16px;
}
  
@media screen and (max-height: 450px) {
.sidenav {padding-top: 15px;}
.sidenav a {font-size: 18px;}
}

.border {
  border-style: solid;
  border-color: red;
  border-width: 1px;
}